  <div class="container"> 
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">标签云</div>
          <div class="panel-body">
            <div id="tag_cloud">
              <% tag_cloud(@tags, %w(s m l)) do |tag, css_class| %>
                <%= link_to tag.name, tag_path(tag.name), :class => css_class %>
              <% end %>
            </div>
          </div>
        </div>          
      </div>
    </div>
  </div>


  <div class="container">
      <div class="row">
          <div class="col-md-12">
            <% @posts.each do |post| %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><%= post.title %></h3>
              </div>
              <div class="panel-body">
                <div class="col-md-7">                         
                  <%= image_tag (post.picture_url) if post.picture? %>
                </div>
                <div class="col-md-3"> 
                  <div class="caption">
                    <%= link_to like_post_path(post), class: "like", method: :put do %>
                      <button class="btn btn-info" type="button" aria-label="Left Align">
                        <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
                        <span class="badge"><%= post.get_upvotes.size %></span>
                      </button>
                    <% end %>
                    <%= link_to unlike_post_path(post), class: "like", method: :put do %>
                      <button class="btn btn-info" type="button" aria-label="Left Align">
                        <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
                        <span class="badge"><%= post.get_downvotes.size %></span>
                      </button>
                    <% end %>
                  </div>
                  <br>
                  <%= social_share_button_tag(post.title) %>
                  <br>
                  <%= link_to '更多', post_path(post), class: "btn btn-success" %>
                   标签: <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join('. ') %>
                   评论数: ?    
                  <br>
                  <div class="comment">
                      
                  </div>
                </div>
              </div>
            </div>  
              

            <% end %>
          </div> 
      </div>
  </div>  





        

 

